.root {
    -fx-base: #25282a;
    -fx-background: #272a2c;
    -fx-control-inner-background: derive(-fx-base, 15.0%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, -5.0%);

    -fx-dark-text-color: #bababa;
    -fx-mid-text-color: #bababa;
    -fx-light-text-color: #bababa;

    -fx-accent: #678bb0;
    -fx-default-button: #28394d;
    -fx-focus-color: #678bb0;

    -fx-faint-focus-color: #28394d;
    -fx-color: -fx-base;
}

.glyph-icon {
    -fx-fill: #bababa;
}

.status-bar {
    -fx-padding: 4.0px;
    -fx-pref-height: 30.0px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0.0, 1.0
}

.popover > .border {
    -fx-stroke-width: 0.5;
    -fx-fill: derive(-fx-background, 25.0%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.label {
    -fx-text-fill: #bababa;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .channel-cell:focused:selected {
    -fx-background-color: #333333;
    -fx-border-color: lightgrey;
    -fx-border-width: 1.0px;
    -fx-text-fill: #aaaaaa;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .channel-cell:selected {
    -fx-background-color: #333333;
    -fx-border-color: lightgrey;
    -fx-border-width: 1.0px;
    -fx-text-fill: #aaaaaa;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .channel-cell:focused:selected:online {
    -fx-border-color: lightgrey;
    -fx-border-width: 1.0px;
    -fx-text-fill: #000000;
    -fx-background-color: green;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .channel-cell:selected:online {
    -fx-border-color: lightgrey;
    -fx-border-width: 1.0px;
    -fx-text-fill: #000000;
    -fx-background-color: green;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .channel-cell:hover {
    -fx-text-fill: #aaaaaa;
    -fx-background-color: derive(-fx-background, 25.0%);
}

.list-view > .virtual-flow > .clipped-container > .sheet > .channel-cell {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 13.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .channel-cell:focused {
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 13.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .channel-cell:online {
    -fx-text-fill: #000000;
    -fx-font-size: 13.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
    -fx-background-color: green;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .channel-cell:focused:online {
    -fx-text-fill: #000000;
    -fx-font-size: 13.0px;
    -fx-border-color: black;
    -fx-border-width: 1.0px;
    -fx-background-color: green;
}

.styled-text-area {
    -fx-background-color: #dddddd;
}
